@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:600italic);

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@import "jquery.fancybox-1.3.4.css";
/*------------------mixins------------------*/
/*------ template stylization ------*/
body {
  background: #0a0a0a;
  font: 14px Arial, Helvetica, sans-serif;
  line-height: 21px;
  color: #737373;
  min-width: 980px;
}



.button-container {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-end; 
  height: 100vh; 
  padding-bottom: 100px;
}

.btn-anmelden {
  background-color: #b1b1b1; 
  color: #2b2b2b; 
  border: none; 
  padding: 15px 30px; 
  font-size: 16px; 
  text-transform: uppercase; 
  cursor: pointer; 
  margin-bottom: 20px; 
  width: 200px; 
  text-align: center; 
}

.btn-register {
  background-color: #b1b1b1; 
  color: #2b2b2b; 
  border: none; 
  padding: 15px 30px; 
  font-size: 16px; 
  text-transform: uppercase; 
  cursor: pointer; 
  width: 200px; 
  text-align: center;
}

.btn-register:hover {
  background-color: #777777; 
}

.button-container {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

#pageLoader {
  position: fixed;
  width: 72px;
  height: 72px;
  top: 50%;
  left: 50%;
  margin: -36px 0 0 -36px;
  background: url(../img/bg_loader.png) 0 0 no-repeat;
  z-index: 1000;
  padding: 3px;
  display: none;
}

#imageHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.slogans {
  margin: 134px 0 115px;
}

.slogans > ul {
  margin-left: -2px;
  width: 100%;
  height: 175px;
  overflow: hidden;
}

.text1 {
  font: 700 120px/83px 'Open Sans', sans-serif;
  font-style: italic;
  color: #e1e0e0;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.text2 {
  font: 70px/59px 'Open Sans', sans-serif;
  font-style: italic;
  color: #a4a5a7;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}

h2,
h3 {
  font-style: italic;
}
h3 {
  font-weight: 600;
  color: #717171;
  margin: -12px 0 35px;
}
h4 {
  font: normal 'Open Sans', sans-serif;
  font-style: normal!important;
  font-weight: 600;
  margin: -4px 0 -1px;
  letter-spacing: -1px;
}
.inner {
  padding-top: 40px;
}

.marg_1 {
  margin-bottom: 30px;
}
.marg_5 {
  margin-bottom: 42px;
}
.color_1 {
  color: #ffffff;
}
#wrapper .containerHolder {
  position: relative;
  width: 100%;
  z-index: 1;
  top: 249px;
}

a.btn-primary {
  font: 600 15px/1.2em 'Open Sans', sans-serif;
  font-style: normal!important;
  letter-spacing: -1px;
  color: #2b2b2b;
  background-color: #e0e0e0;
  background-image: -moz-linear-gradient(top, #ffffff, #b1b1b1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#b1b1b1));
  background-image: -webkit-linear-gradient(top, #ffffff, #b1b1b1);
  background-image: -o-linear-gradient(top, #ffffff, #b1b1b1);
  background-image: linear-gradient(to bottom, #ffffff, #b1b1b1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffb1b1b1', GradientType=0);
  -webkit-box-shadow: 1px 2px 1px #141414;
  -moz-box-shadow: 1px 2px 1px #141414;
  box-shadow: 1px 2px 1px #141414;
  position: relative;
  text-shadow: none;
  padding: 10px 14px;
  border-radius: 0;
  text-decoration: none !important;
  display: inline-block;
  z-index: 1;
  left: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a.btn-primary:hover {
  background-color: #777777;
  background-image: -moz-linear-gradient(top, #878787, #5f5f5f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#878787), to(#5f5f5f));
  background-image: -webkit-linear-gradient(top, #878787, #5f5f5f);
  background-image: -o-linear-gradient(top, #878787, #5f5f5f);
  background-image: linear-gradient(to bottom, #878787, #5f5f5f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff878787', endColorstr='#ff5f5f5f', GradientType=0);
  color: #d4d4d4;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.scroll_2,
.scroll_3,
.scroll_4,
.scroll_5 {
  height: 380px!important;
  overflow: hidden!important;
  top: 0;
  left: 0;
  display: inline-block;
}
.scroll_4,
.scroll_5 {
  margin: -2px 0 10px;
  height: 320px!important;
}
.scroll_4 {
  margin-bottom: 20px;
}

.gall .last {
  margin-right: 0!important;
}
.thumbnail {
  display: inline-block;
  padding: 0;
  line-height: 16px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  float: left;
  margin-right: 27px;
}

.list3 > li {
  list-style: none;
  overflow: hidden;
  margin-bottom: 30px;
}
.list3 > li span {
  float: left;
  margin-right: 21px;
}
footer {
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  width: 100%;
  height: 178px;
  background: url('../img/footer_bg.png') center 0 no-repeat;
  z-index: 600;
}
#logo {
  display: inline-block;
  position: relative;
  background: url('../img/logo.png') 0 0 no-repeat;
  width: 209px;
  height: 61px;
  text-indent: -9999px;
  margin: 26px 0 0 2px;
}

.home_item {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 25px;
  float: left;
  margin: 62px 32px 0 49px;
  z-index: 15;
}

.sf-menu {
  z-index: 3;
  position: relative;
  display: inline-block;
  margin: 15px 0 0;
}
.sf-menu > li {
  position: relative;
  color: #383636;
  display: inline-block;
  float: left;
  height: 115px;
  margin-right: 35px;
}
.sf-menu > li > a {
  display: block;
  position: relative;
  height: 115px;
  overflow: hidden;
  padding: 0;
}
.mText {
  font: 600 15px/15px 'Open Sans', sans-serif;
  font-style: italic;
  color: #545454;
  position: absolute;
  width: 100%;
  z-index: 1;
  text-align: center;
  left: 0;
  padding-top: 50px;
}
.mTextOver {
  font: 600 15px/15px 'Open Sans', sans-serif;
  font-style: italic;
  color: #000000;
  position: relative;
  width: 100%;
  z-index: 3;
  text-align: center;
  top: -100px;
}